html {
		font-family: system-ui, sans-serif;
    min-height: 100vh;
		background-color: #1c1f28;
		opacity: 1;
		background-image: radial-gradient(#32343b 2px, #21252f 2px);
		background-size: 40px 40px;
	}
  body{
    height: 100%;
  }

#glassmorphism {
  background: rgba( 255, 255, 255, 0.6 );
  //box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.style-1{
	background: hsla(298, 68%, 90%, 1);
  background: linear-gradient(90deg, hsla(298, 68%, 90%, 1) 0%, hsla(30, 82%, 91%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(298, 68%, 90%, 1) 0%, hsla(30, 82%, 91%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(298, 68%, 90%, 1) 0%, hsla(30, 82%, 91%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F6D5F7", endColorstr="#FBE9D7", GradientType=1 );
}